(tinyauth) {
	forward_auth localhost:1412 {
		uri /api/auth/caddy
		copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
	}
}

{
	email {$LE_EMAIL}
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	servers {
		trusted_proxies static private_ranges
	}
	order webdav before file_server
}

# wevdav
dav.stylus.{$PRIVATE_DOMAIN} {
	basic_auth bcrypt {
		{$DAV_STYLUS_USERNAME} $2a$10$evs1oAXFgg48Q..JEjzbieTCy.ea4OHGQecmvpewn5mdW0poXY4Oy
	}
	webdav {
		root /dav
	}
}

dav.zotero.{$PRIVATE_DOMAIN} {
	basic_auth bcrypt {
		{$DAV_ZOTERO_USERNAME} $2a$10$IHmpwLJwUyCdyCMSU8uKHuMYfjoFbDSWH.USahgZ/Qp0kFFVQdG5C
	}
	webdav {
		root /dav
	}
}

dav.goodnotes.{$PRIVATE_DOMAIN} {
	basic_auth bcrypt {
		{$DAV_GOODNOTES_USERNAME} $2a$10$wvl/t5GB93lNlFy7HV5U4eDc8eZpDrhJOUGowoRDeB.25dRDaCfKG
	}
	webdav {
		root /dav
	}
}

dav.tampermonkey.{$PRIVATE_DOMAIN} {
	basic_auth bcrypt {
		{$DAV_TAMPERMONKEY_USERNAME} $2a$10$VQl97plm9yqG43sdndl4JOsQwVdofY15mODTnYSw1O0Kd/v2CkInW
	}
	webdav {
		root /dav
	}
}

# dashy
{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:8084
}

################### INFRASTRUCTURE ################

# adguard home
adguard.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:8083
}

# pocket-id
pocketauth.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:1411
}

# tinyauth
tinyauth.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:1412
}

# kopia backup
kopia.nuc.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:51515
}

################### MEDIA ###################

# calibre web
books.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:8030
}

# jellyfin
media.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:8096
}

################### DOCS N DATA ###################

# paperless
docs.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:12000
}

# firefly-iii
budget.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:8090
}

# firefly-iii importer
import.firefly.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:8091
}

# firefly pico
pico.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:6972
}

# filebrowser ✨ quantum 🌌
files.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:18000
}

# syncthing ui
files.sync.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:8384
}

# couchdb for obsidian sync
sync.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:5984
}

# memos
memos.{$PRIVATE_DOMAIN} {
	reverse_proxy {$PI4_IP}:5230
}

################### MONITORING ###################
# dozzle
dozzle.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy localhost:8088
}

# uptime-kuma
uptime.{$PRIVATE_DOMAIN} {
	reverse_proxy {$VPS1_IP}:3001
}

# beszel dashboard
system.{$PRIVATE_DOMAIN} {
	reverse_proxy {$VPS1_IP}:8090
}

############### READING ###################

# readeck
read.{$PRIVATE_DOMAIN} {
	reverse_proxy localhost:7900
}

# miniflux
rss.{$PRIVATE_DOMAIN} {
	reverse_proxy {$PI4_IP}:9999
}

################### SEARCH ###################

# searxng
searx.{$PRIVATE_DOMAIN} {
	import tinyauth
	reverse_proxy {$PI4_IP}:7777
}
